body {
    background-color: #727272;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box_center {
    display: flex;
    margin: 0px auto;
    max-width: 1000px;
    background-color: blanchedalmond;
    margin-top: 50px;
    flex-direction: row-reverse;
}
.sidebar {
    background-color: #dda835;
    border: 5px solid #757575;
    border-radius: 5px;
    
}
.mainpage {
    background-color: whitesmoke;  
    padding: 50px;
    max-width: 700px;
}
.name {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.specification {
    text-align: center;
}
.contact_list {
    list-style-type: none;
    font-size: 20px;
    font-family: Tahoma, sans-serif;
}
.contact_list li {
    padding-top: 15px;
}
.mainpage h2 {
    color: #a09f9f;
}