body {
    background-color: #5e5373;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box_center {
    margin: 0px auto;
    max-width: 1000px;
    position: relative;
    background-color: blanchedalmond;
    margin-top: 50px;
}
.sidebar {
    position: absolute;
    background-color: #8ae2d9;
    height: 100%;
    right: 0px;
    z-index: 1;
}
.mainpage {
    background-color: whitesmoke;
    position: absolute;
    left: 0;  
    padding: 50px;
    padding-right: 330px; 
    max-width: 800px;
}
.name {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.specification {
    text-align: center;
}